{% load sekizai_tags i18n navtags %}
{% load url from future %}
{% load staticfiles %}
<nav id="nav">

    <ul>
        <li class="{% active '^/$' %}"><a href="/"><strong>Home</strong></a></li>
        <li class="dropdown nav-dw {% active '^/gettechnical/' %} {% active '^/devbootcamp/' %} {% active '^/evening_bootcamp/' %}">
            <a class="dropdown-toggle" data-toggle="dropdown"><strong>Programs</strong><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'devbootcamp' %}"><strong>Developer Bootcamp</strong></a></li>
                <li><a href="{% url 'evening_bootcamp' %}"><strong>Evening Dev Bootcamp</strong></a></li>
            </ul>
        </li>
        {#        <li class="{% active 'apply' %}"><a href="{% url 'apply' %}">Apply</a></li>#}
        <li class="{% active 'team' %}"><a href="{% url 'team' %}"><strong>Team</strong></a></li>
        <li class="{% active 'advisors' %}"><a href="{% url 'advisors' %}"><strong>Advisors</strong></a></li>
        <li class="{% active 'students' %}"><a href="{% url 'students' %}"><strong>Students</strong></a></li>
        <li class="{% active 'ppm' %}"><a href="{% url 'ppm' %}"><strong>Events</strong></a></li>
        <li class="{% active 'blog' %}"><a href="/blog/"><strong>Blog</strong></a></li>
        <li class="{% active 'contact' %}"><a href="{% url 'contact' %}"><strong>Contact</strong></a></li>
        <li><a href="{% url 'apply' %}" class="button" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background-color: #4BA1BA;
">Apply Now!</a></li>
    </ul>
</nav>
{% comment %}
<!--
    {% if user.is_authenticated %}
    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user }} <b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <li><a href="/accounts/logout/"><i class="icon-off"></i>{% trans "Log out" %}</a></li>
        <li><a href="/forum/profile/edit/"><i class="glyphicon glyphicon-pencil"></i> {% trans "Edit Profile" %}</a></li>
        <li class="divider"></li>
        {% if user.is_superuser %}
        <li><a href="/admin/"><i class="glyphicon glyphicon-user"></i> {% trans "Admin" %}</a></li>
        {% else %}
        {% endif %}
      </ul>
    </li>
    {% else %}
    <li> <a href="/accounts/login/">{% trans "Log in" %}</a> </li>
    <li> <a href="/accounts/signup/">{% trans "Sign up" %}</a> </li>
    {% endif %}
-->
{%  endcomment %}