{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div id="apply_page_banner" class="jumbotron">
        <div class="container">
            <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
                <h2>
                    <br/><br/>
                    Receive a job offer within 8 months of graduating or your money back.
                </h2>

                Guarantee available to students who pay full tuition of $8000 on or before first day of class,
                successfully complete the bootcamp, follow the job preparation and search guidelines and have no
                circumstances (such as negative results on background check) that may hinder finding employment. Other
                limitations may apply.


            </div>
        </div>
    </div>
{% endblock %}