{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <section id="banner" xmlns="http://www.w3.org/1999/html">
        <header>
            <div class="banner-div">
                <h6 class="banner-font-a">Full-Stack Python</h6>
                <h6 class="banner-font-b">Developer Bootcamp</h6>
                <h6 class="banner-font-c">Learn to Code &bull; Get a High-Paying Job</h6>
                <h6 class="banner-font-c">Guaranteed</h6>
            </div>

            <img src="{{ STATIC_URL }}images/guild_logo_orange.png" class="img-logo">
        </header>
    </section>
    <div style="background-color: #4ba1ba;">
        <h2 class="banner-after-div">Receive a job offer within 8 months of graduating or your money back.<a href="{% url 'guarantee' %}">*</a> </h2>
        </div>
    <section class="wrapper style1">
        <div class="container">
            <div class="row double">
                <section class="4u">
                    <div class="box highlight">
                        <h3>Upcoming Bootcamps</h3>
                        <em><strong style="color: #f57b20;">
                            <a href="{% url 'devbootcamp' %}">{{ next_day_class_date }}:
                            12-Week, Day</a> <br>
                            <a href="{% url 'evening_bootcamp' %}">{{ next_night_class_date }}: 16-Week,
                                Evening</a></strong></em>

                        <h3 style="color: #f57b20">Ready to start your career in technology?</h3>

                        <p><a href="{% url 'apply' %}">Apply now</a> for a full immersion Developer Bootcamp. Small
                            classes feature individualized instruction, pair programming and group study to give you the
                            skills you need to succeed.</p>

                        <p>You’ll learn Python, Django, SQL, JavaScript, HTML5 and CSS3 and more.</p>

                        <a href="{% url 'apply' %}" class="button">Apply now</a>
                    </div>
                </section>
                <section class="4u">
                    <div class="box highlight">
                        <h3>Licensed by the Oregon Higher Education Coordinating Commission.</h3>
                        <img src="{{ STATIC_URL }}img/classroom5201.png" class="img-team2 img-thumbnail">

                        <p><strong style="color: #f57b20">PDX Code Guild</strong> offers <span style="color: #f57b20">developer bootcamps</span>
                            and <span style="color: #f57b20">professional services.</span>

                        <p><strong style="color: #f57b20">PDX Code Guild Bootcamps</strong> are immersive hands-on
                            developer training programs. Students build
                            their portfolio and receive individualized attention. Small class sizes and intensive
                            instruction ensure students get the maximum results in the shortest amount of time.</p>

                        <p><strong style="color: #f57b20">PDX Code Guild Professional Services</strong> is a web
                            development studio that specializes in
                            prototyping, web & mobile apps.</p>

                        <p>PDX Code Guild is creating a network of developers and shaping the future of Oregon’s
                            technology
                            ecosystem.</p>
                    </div>
                </section>
                <section class="4u">
                    <div class="box highlight">
                        <h3>Intro to Programming</h3>
                        <em><strong style="color: #f57b20">Beginner Class Starts July 14th<br>
                            Grants Available to Qualifying Students!</strong></em>

                        <p>Are you interested in learning computer programming but not sure if it's for you? Are you
                            thinking about joining a coding bootcamp and want to test the waters?</p>

                        <p>PDX Code Guild's Introduction to Programming is a two week, 24 hour hands-on class. Learn the
                            basics of programming. With short lectures and fun challenges we will introduce you to the
                            concepts needed to start your journey to becoming a master programmer.<br></p>

                        <p>Week 1: Tuesday, Wednesday, Thursday and Friday 6:00 PM to 9:00 PM.<br>
                            Week 2: Monday, Tuesday Wednesday and Thursday 6:00 PM to 9:00 PM.<br>
                            $450.<br>
                            <a href="{% url 'introapply' %}" class="button">Register Now</a>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="wrapper style2">
        <div class="container" style="text-align: center;">

            <h2>Partners</h2>

            <p>Partner with PDX Code guild, build relationships with developers and help shape the future of
                the Oregon tech ecosystem.</p>

        </div>
    </section>


    <section class="wrapper style1">
        <div class="container">
            <div class="row">
                <section class="6u">
                    <div class="box post"><a href="http://www.pdx.edu/accelerator/" class="image left"><img
                            src="{{ STATIC_URL }}images/psba.png" alt="Portland State Business Accelerator"/></a>

                        <div class="inner">
                            <h3>Portland State Business Accelerator</h3>

                            <p>The Business Accelerator speeds the success of these high-growth companies by providing resources, connections, expertise, University support, and control of high-impact costs, all within a growth-focused entrepreneurial community.</p>
                        </div>
                    </div>
                </section>
                <section class="6u">
                    <div class="box post"><a href="http://www.techoregon.org/" class="image left"><img
                            src="{{ STATIC_URL }}images/tao.png" alt="Technology Association of Oregon"/></a>

                        <div class="inner">
                            <h3>Technology Association of Oregon</h3>

                            <p>TAO’s vision is to create a world-class and inclusive innovation economy in Oregon and SW Washington.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="6u">
                    <div class="box post"><a href="http://teamtreehouse.com/" class="image left"><img
                            src="{{ STATIC_URL }}images/th.png" alt="Treehouse"/></a>

                        <div class="inner">
                            <h3>Treehouse</h3>

                            <p>Learn HTML, CSS, iPhone apps & more</p>
                        </div>
                    </div>
                </section>
                <section class="6u">
                    <div class="box post"><a href="http://portland.startupweekend.org/" class="image left"><img
                            src="{{ STATIC_URL }}images/sw.png" alt="Startup Weekend Portland"/></a>

                        <div class="inner">
                            <h3>Startup Weekend Portland</h3>

                            <p>Where Portland comes to build skills, meet incredible people, and launch successful
                                startups.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %} 